#landingPageDiv{
  display: flex; /* Enables Flexbox for the container */
  min-height: 100vh;
}
#landingPageLeft{
  flex: 60%; /* This will take up 60% of the container's width */
  padding-left: 70px; /* Optional spacing between text and image */
  color: white;
  font-size: 30px;
}
#landingPageLeft p{
  font-size: 28px;
  line-height: 45px;
  max-width: 800px;
}
#landingPageRight{
  flex: 40%; /* This will take up 40% of the container's width */
  /* Ensuring the image doesn't exceed its container */
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center; /* Centers image horizontally */
  margin-top: 0px;
  padding-top: 0px;
}
#landingPageLeft input{
  border: none;
  border-radius: 15px;
  padding: 20px;
  font-size: medium;
  width: 400px;
  margin-right: 20px;
  margin-top: 40px;
}
#landingPageLeft button{
  padding: 20px;
  border: none;
  border-radius: 15px;
  font-size: medium;
  color: white;
  font-weight: 600;
  background-color: #62E767;
  cursor: pointer;
  margin-top: 20px;
}
#landingPageLeft button:hover{
  background-color: #62e766b1;
}
#secondPageDiv {
  min-height: 100vh;
  text-align: center;

}
#secondPageDiv h2{
  padding-top: 150px;
  color: white;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
}
html {
  scroll-behavior: smooth;
}
.percentage-container {
  display: inline-flex;
  align-items: baseline;
  font-size: 300px;
  margin: 0px;
  color: white;

}

#percentageCalc {
  width: 600px; /* This will reserve enough space for up to 3 digits */
  text-align: right;
}

#thirdPageDiv{
  min-height: 100vh;
  text-align: center;
  padding: 10px;
  padding-bottom: 100px;
}
#scrapingFishDescr{
  color: white;
  max-width: 500px;
  margin: auto;
  font-size: 20px;
  line-height: 45px;
  font-weight: 200;
}
#thirdPageDiv p span{
  font-weight: 600;
}
#howItWorksTitle{
  padding-top: 150px;
  padding-bottom: 30px;
  color: white;
  font-size: 100px;
  margin: 0px;
}
#headerThirdPage{
  color: white;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 10px;
}
#estChanceTitle{
  margin-top: 20px;
  color: white;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 10px;
}
#showCalculations{
  color: white;
  margin: auto;
  font-size: 20px;
  line-height: 45px;
  font-weight: 200;
}
@media (max-width: 830px) {
  #landingPageRight {
    display: none;
  }
  #landingPageLeft{
    flex: 100%; /* This will take up 60% of the container's width */
    padding-left: 35px; /* Optional spacing between text and image */
    font-size: 15px;
  }
  #landingPageLeft p{
    font-size: 20px;
    line-height: 30px;
    max-width: 80%;
  }
  .percentage-container {
    font-size: 100px;
    display: block;
  }
  #landingPageLeft input{
    width: 80%;
  }
  #landingPageLeft button{
    display: block;

  }
  #secondPageDiv h2{
    padding-top: 120px;
  }  
}
